.menu {
  width: 100%;
  background: white;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.078);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 425px) {
    .menu {
      padding: 1rem; } }
  .menu--sticky {
    position: fixed;
    z-index: 1; }
  .menu__banner {
    height: 6rem;
    width: 100%;
    background-color: #713BA7; }
  .menu__picture {
    width: 5rem;
    height: 5rem;
    background-color: #a5a8b0;
    color: #fff;
    font-weight: 400;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 425px) {
      .menu__picture {
        width: 3.5rem;
        height: 3.5rem; } }

.about-me {
  background-color: #fff;
  padding: 2rem 8rem;
  padding-bottom: 16rem;
  font-size: 1rem; }
  @media only screen and (max-width: 1024px) {
    .about-me {
      padding: 2rem 2rem 13rem 2rem; } }
  @media only screen and (min-width: 425px) {
    .about-me {
      font-size: .875rem; } }
  .about-me__content {
    text-align: center; }
    .about-me__content--paragraph {
      margin: 0;
      font-weight: 400;
      color: #575962;
      line-height: 1.444; }
    .about-me__content--skills {
      font-weight: 400;
      color: #575962;
      margin: 1rem 0; }
      .about-me__content--skills ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0; }
  .about-me__availability {
    display: flex;
    align-items: center; }
    .about-me__availability--available {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: aquamarine;
      margin-right: .5rem; }

.experience {
  background-color: #fff;
  padding: 4rem 0; }
  .experience .accordion-button:focus {
    z-index: 0 !important; }
  .experience__time-line {
    margin-right: 2rem; }
    @media only screen and (max-width: 768px) {
      .experience__time-line {
        display: none; } }
    .experience__time-line--line {
      height: 9rem;
      margin-left: 1rem;
      border-left: 1px solid;
      color: #4a7dff; }
    .experience__time-line--dot {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: #4a7dff;
      margin: 1rem 0 1rem 0; }
  .experience__jobs-list {
    width: 100%; }
  .experience .job {
    color: #575962;
    margin-bottom: 3rem;
    font-size: 1rem;
    width: 100%;
    max-width: 50rem; }
    @media only screen and (max-width: 768px) {
      .experience .job {
        font-size: .875rem; } }
    .experience .job__header {
      display: flex;
      margin-bottom: 1rem; }
    .experience .job__logo {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      margin-right: .5rem; }
    .experience .job__position {
      margin: 0; }
    .experience .job__company-name {
      font-weight: 500;
      background-image: linear-gradient(to right, #4a7dff, #713BA7);
      -webkit-background-clip: text;
      color: transparent; }
    .experience .job__job-details {
      display: flex; }
    .experience .job__body .client {
      color: #575962; }
      .experience .job__body .client__header {
        display: flex;
        margin-bottom: 1rem; }
      .experience .job__body .client__logo {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        margin-right: .5rem; }
      .experience .job__body .client__client-name {
        font-weight: 500;
        background-image: linear-gradient(to right, #4a7dff, #713BA7);
        -webkit-background-clip: text;
        color: transparent; }
  .experience--blank-space {
    display: block;
    height: 268px;
    width: auto; }
  .experience__col-1 {
    width: 100%; }
  .experience__col-2 {
    width: 100%; }
  .experience .xs {
    height: 6rem; }
  .experience .sm {
    height: 10rem; }
  .experience .md {
    height: 13rem; }
  .experience .lg {
    height: 15rem; }
  .experience .xl {
    height: 35rem; }

.skills {
  padding-top: 19rem;
  padding-bottom: 7rem;
  background-color: whitesmoke; }
  .skills__technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 2rem auto;
    list-style: none; }
    .skills__technologies--tool img {
      width: 5rem;
      object-fit: cover;
      margin: 2rem; }
      @media only screen and (max-width: 425px) {
        .skills__technologies--tool img {
          margin: 1rem; } }
  .skills__list__wrapper {
    display: flex; }

.projects {
  margin: -11rem 0;
  padding: 7rem 0;
  background-color: #f5f6fa;
  transform: skewY(-12deg);
  background-image: linear-gradient(to left top, #4a7dff, #7f00ff); }
  .projects .container {
    transform: skewY(12deg); }
  .projects h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700; }
  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .projects__next > button,
  .projects__prev > button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border-color: transparent;
    color: #484848;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
    cursor: pointer;
    position: relative; }
  .projects__handlers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 240px; }

* {
  box-sizing: border-box; }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

.mySlides {
  display: none; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dots {
  text-align: center; }

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  @media only screen and (min-width: 1024px) {
    .dot {
      width: .65rem !important;
      height: .65rem !important;
      margin: 0 .5rem; } }

.active,
.dot:hover {
  background-color: #717171; }

.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

footer {
  background-color: #f5f5f5; }

.footer__content {
  padding: 2.5rem 0;
  color: #495469;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .footer__content__item {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    display: block;
    margin-bottom: .25rem;
    margin-right: 2rem; }
  .footer__content__icon {
    font-size: 2rem;
    background-image: linear-gradient(to right, #4a7dff, #713BA7);
    -webkit-background-clip: text;
    color: transparent; }

.footer__made-by {
  display: inline-block;
  height: 2.25rem;
  font-weight: 500; }
  .footer__made-by--author {
    color: #495469;
    margin-bottom: 2rem;
    font-size: 1.25rem; }

.footer__media {
  border-top: 1px solid #ddd;
  padding: 1rem 0; }

@media only screen and (min-width: 425px) {
  footer {
    font-size: 14px; }
  .footer__made-by {
    text-align: center; } }

@media only screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: column; }
    .footer__content__item:first-child,
    .footer__content .footer__content__item:nth-child(2) {
      margin-bottom: 1rem; }
  .footer__made-by {
    margin: auto; } }

.languages {
  padding: 4rem 0;
  background-color: #f5f6fa;
  background-image: linear-gradient(to left top, #4a7dff, #7f00ff); }
  .languages .languages__list {
    display: flex;
    justify-content: center; }
    @media (max-width: 375px) {
      .languages .languages__list {
        display: unset; } }
    .languages .languages__list .item {
      margin: 2rem 4rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      color: white; }
      @media (max-width: 1024px) {
        .languages .languages__list .item {
          flex-direction: column; } }
      .languages .languages__list .item img {
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%; }
        @media (max-width: 1024px) {
          .languages .languages__list .item img {
            margin: 0; } }
      .languages .languages__list .item span {
        text-align: center; }
        @media (max-width: 1024px) {
          .languages .languages__list .item span {
            margin: 1rem 0; } }

.dark-mode body {
  color: white;
  background-color: #161b22; }

.dark-mode h3, .dark-mode .heading-secondary {
  color: white !important; }

.dark-mode .menu {
  color: white !important;
  background-color: #161b22;
  border-bottom: 1px solid #121212;
  box-shadow: none; }
  .dark-mode .menu__headline {
    color: white; }

.dark-mode .about-me {
  background-color: #161b22;
  background-image: none; }
  .dark-mode .about-me p {
    color: white; }

.dark-mode .switch-btn__text {
  color: white; }

.dark-mode .switch-btn__dot-container:hover {
  border-radius: 50%;
  background-color: rgba(74, 125, 255, 0.12); }

.dark-mode .skip {
  background-color: #ff3aca81; }
  .dark-mode .skip a {
    color: white !important; }

.dark-mode .projects {
  background-color: #0d1117;
  background-image: none;
  color: white; }
  .dark-mode .projects .a-card {
    background-color: #161b22; }
    .dark-mode .projects .a-card__header--title {
      color: white; }
    .dark-mode .projects .a-card__header .technologies-used {
      color: #c391fc; }
    .dark-mode .projects .a-card__body--paragraph {
      color: white !important; }
  .dark-mode .projects__carrousel .dots .dot {
    background-color: #3e3d3d; }
  .dark-mode .projects__carrousel .dots .dot.active {
    background-color: #4a7dff; }

.dark-mode .skills {
  color: white;
  background-color: #161b22; }

.dark-mode .languages {
  background-color: #161b22;
  background-image: unset;
  border-top: 1px solid #121212; }

.dark-mode .experience {
  color: white;
  background-color: #0d1117; }
  .dark-mode .experience .accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 #121212; }
  .dark-mode .experience .accordion-item {
    background-color: #161b22;
    border: 1px solid #121212; }
  .dark-mode .experience .accordion-button {
    background-color: #161b22; }
  .dark-mode .experience .job, .dark-mode .experience .client {
    color: white; }

.dark-mode .employment-details--company a > * {
  color: white; }

.dark-mode footer {
  background-color: #161b22;
  color: white; }
  .dark-mode footer .footer__content {
    color: white; }
  .dark-mode footer .footer__made-by--author {
    color: white; }
  .dark-mode footer .footer__media {
    border-top: 1px solid #121212; }
  .dark-mode footer .footer i {
    color: #c391fc; }

.dark-mode .pill {
  background-color: #313133;
  color: #fff;
  pointer-events: none; }

.dark-mode .btn--primary, .dark-mode .btn--secondary {
  background: #313133 !important;
  border-radius: 50px !important; }
  .dark-mode .btn--primary i.fas, .dark-mode .btn--secondary i.fas {
    color: #80a4ff !important; }

.dark-mode .modal__footer .btn--outline--dark {
  color: white;
  border-color: white; }

.dark-mode .modal--content {
  background-color: #0d1117;
  color: white; }

.dark-mode .modal--heading {
  display: block;
  font-size: .875rem;
  font-weight: 600;
  color: #58595f; }

.dark-mode .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8); }

.dark-mode #modal__details, .dark-mode .close {
  color: white; }

.dark-mode .list-group--flush .list-group__item {
  background: #111111;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-color: rgba(255, 255, 255, 0.125); }
  .dark-mode .list-group--flush .list-group__item div b {
    color: #00a56f !important; }

.dark-mode .list-group--flush:first-child .list-group__item:first-child {
  border-top: 0; }

.dark-mode .list-group--flush:last-child .list-group__item:last-child {
  border-bottom: 0; }

.dark-mode .icon-button-group__link {
  color: #c391fc; }
  .dark-mode .icon-button-group__link:hover {
    background-color: rgba(195, 145, 252, 0.24);
    color: #c391fc; }

.a-card {
  width: 15rem;
  background-color: #fff;
  transition: transform .3s;
  margin: 0 1rem 2rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  z-index: 1;
  outline: none !important; }
  .a-card:hover {
    transform: scale(1.05) translateY(-0.25rem); }
  .a-card:focus-visible {
    outline: 4px solid lime !important; }
  .a-card--wrapper {
    cursor: pointer; }
  .a-card__header--title {
    width: 100%;
    min-height: 40px;
    font-size: 1.25rem;
    align-self: flex-start;
    color: #2f3035;
    line-height: 1.222;
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .a-card__header--title span {
      display: block;
      font-weight: 500; }
    .a-card__header--title .technologies-used {
      font-size: .75rem; }
  .a-card__header--graphic {
    width: 100%;
    height: 10rem;
    object-fit: fill; }
  .a-card__body {
    display: flex;
    height: auto;
    padding: .75rem;
    overflow: hidden;
    color: #575962;
    flex-wrap: wrap;
    font-weight: 500; }
    .a-card__body--paragraph {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      line-height: 1.222;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #495469; }
      @media (max-width: 768px) {
        .a-card__body--paragraph {
          font-weight: 400;
          line-height: 1.222;
          -webkit-box-orient: unset; } }
  .a-card__actions {
    width: 100%;
    align-self: flex-end;
    justify-content: space-around;
    flex-basis: 100%;
    padding: .75rem;
    display: flex;
    align-items: center; }
    .a-card__actions .btn.btn--primary.btn-sm {
      margin-right: .25rem; }
      @media (max-width: 638px) {
        .a-card__actions .btn.btn--primary.btn-sm {
          margin: 0 0 .5rem 0; } }

.switch-btn {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  display: block;
  outline: none !important;
  /*switch*/ }
  .switch-btn:focus-visible {
    outline: 4px solid lime !important; }
  .switch-btn__switch {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2rem;
    height: .887rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.24);
    position: relative; }
  .switch-btn__text {
    color: #495469; }
    @media (max-width: 320px) {
      .switch-btn__text {
        font-size: .875rem; } }
  .switch-btn__dot-container {
    left: -1rem;
    right: auto;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -1rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transition: left .1s; }
    .switch-btn__dot-container:hover {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.04); }
  .switch-btn__dot {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1; }
  .switch-btn input[type="checkbox"] {
    visibility: hidden; }
  input[type="checkbox"]:checked ~ .switch-btn__switch .switch-btn__dot-container {
    left: 0; }
  input[type="checkbox"]:checked ~ .switch-btn__switch .switch-btn__dot-container .switch-btn__dot {
    background-color: #4a7dff; }
  input[type="checkbox"]:checked ~ .switch-btn__switch {
    background-color: rgba(74, 125, 255, 0.24); }
  input[type="checkbox"]:checked ~ .switch-btn__switch .switch-btn__dot-container:before {
    color: #fff;
    opacity: 1; }

.pill {
  height: 1.45rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  line-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  padding: .85rem;
  margin: .5rem 0.25rem;
  text-align: center;
  font-weight: 500;
  border-radius: 1rem;
  color: #575962; }
  @media only screen and (min-width: 768px) {
    .pill {
      height: 1.25rem;
      font-size: .875rem; } }
  .pill--xs {
    font-size: .65rem;
    padding: .15rem .25rem; }
  .pill--clear-sky {
    background-color: #dfe3e9; }

.tip-wrapper {
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  z-index: 20; }
  .tip-wrapper__tip {
    padding: .75rem;
    background-color: #2d2d2d;
    color: white;
    opacity: 0; }

#modal--thumbnail {
  width: 100%;
  display: block;
  height: 20rem;
  object-fit: fill; }

#modal__details {
  font-size: .875rem;
  line-height: 1.444;
  color: #575962; }

#modal__body--tools {
  font-size: .875rem;
  line-height: 1.444;
  color: #575962;
  margin: 0; }

#modal__body--requirements {
  margin-bottom: 1rem; }

.icon-button-group {
  display: flex;
  align-items: center;
  justify-content: center; }
  .icon-button-group__link {
    color: #495469;
    height: 3.65rem;
    width: 3.65rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: all .2s;
    text-decoration: none; }
    .icon-button-group__link:hover {
      background-color: rgba(0, 0, 0, 0.04);
      color: #575962; }
    .icon-button-group__link i {
      margin: auto; }

.ui-btn {
  display: inline-block;
  width: auto;
  padding: .75rem 1.75rem;
  border-radius: 100px;
  text-decoration: none;
  font-size: .75rem;
  transition: all .2s;
  position: relative;
  text-transform: uppercase;
  color: white; }
  .ui-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white; }
  .ui-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .ui-btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .ui-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .ui-btn--purple {
    background-image: linear-gradient(to right bottom, #4a7dff, #713BA7); }
    .ui-btn--purple::after {
      background-color: #4a7dff; }
  .ui-btn--animated {
    animation: moveInBotton .5s ease-out .75s;
    animation-fill-mode: backwards; }

.ui-text-button {
  text-transform: capitalize;
  font-weight: 500;
  font-size: .875rem;
  color: white;
  display: block;
  padding: .25rem .75rem;
  border-radius: 50px;
  transition: all .2s;
  background-color: black; }
  .ui-text-button:active {
    background: rgba(113, 59, 167, 0.2); }
  .ui-text-button--blue-purple {
    background-image: linear-gradient(to right bottom, #4a7dff, #713BA7);
    box-shadow: none; }
  .ui-text-button--outlined {
    background-color: white;
    color: black;
    border: 1px solid; }

.heading-primary {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .65rem;
  font-weight: bolder;
  background-image: linear-gradient(to right, #4a7dff, #713BA7);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0; }
  @media only screen and (max-width: 1024px) {
    .heading-primary {
      line-height: 1.222;
      font-size: 1.5rem;
      margin: .75rem 0; } }
  .heading-primary--sm {
    font-size: 1.25rem;
    letter-spacing: .5rem; }
    @media only screen and (min-width: 1024px) {
      .heading-primary--sm {
        font-size: 1.15rem;
        display: block;
        line-height: 1.222; } }

.heading-secondary {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #495469;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 1024px) {
    .heading-secondary {
      font-size: 1.5rem;
      letter-spacing: .75rem; } }

.heading-third {
  color: #495469;
  margin: 0;
  font-size: 2.5rem; }
  @media only screen and (min-width: 1024px) {
    .heading-third {
      font-size: 2.75rem; } }
  @media only screen and (min-width: 768px) {
    .heading-third {
      font-size: 2.5rem; } }

* a {
  cursor: pointer; }

* b {
  color: #4a7dff; }

.bold-heading {
  color: #5864ff;
  font-size: .875rem;
  font-weight: bold; }

.skip {
  position: absolute;
  top: 7.25rem;
  width: 100%;
  text-align: center;
  background-color: #00acff45; }
  .skip a {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: bold;
    display: block; }
    .skip a:focus {
      width: 100%;
      height: auto;
      padding: 1rem; }

*:focus {
  outline: 4px solid lime; }

.opacity-0 {
  opacity: 0; }

.no-skew-y {
  transform: skewY(12deg); }

.carousel-item.active {
  background-color: transparent; }

.round-btn {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 100px;
  background-color: white;
  margin: 0; }

.carousel-control-prev, .carousel-control-next {
  top: 10rem !important; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 20px !important;
  height: 20px !important; }

.carousel-total-items {
  color: white;
  text-align: center; }

.mobile-carousel-inner {
  height: 450px; }

@media only screen and (max-width: 425px) {
  .carousel-control-prev, .carousel-control-next {
    display: none !important; } }

main#content {
  padding-top: 160px; }
