@import "./abstracts/vars";
@import "vendors/bootstrap_scss/bootstrap";
@import "base/base";

@import "./pages/intro";
@import "./pages/experiance";
@import "./pages/projects";
@import "./pages/contact";
@import "./pages/menu";


.gradient {
    background-color: #1fc8db; /* For browsers that do not support gradients */        
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    // color:white;
    opacity:0.95
}