@import "abstracts/vars";
@import "vendors/bootstrap_scss/bootstrap";
@import "base/base";
@import "./pages/about-me";
@import "./pages/experiance";
@import "./pages/skills";
@import "./pages/projects";
@import "./pages/contact";
@import "./pages/menu";
// Components
@import "./components/card";
section.about-me,
section.skills,
section.experiance,
section.projects,
section.contact {
    padding: 3rem 0;
}

* h3 {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: -.8px;
    font-weight: 700;
}

* a {
    cursor: pointer;
}

* b {
    color: $blue;
}

footer {
    background-color: $bond;
    padding: 2.5rem 0;
}

.footer {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        &__item {
            text-align: center;
            &--header {
                font-size: 1rem;
                font-weight: 500;
                display: block;
                margin-bottom: .25rem;
            }
        }
    }
    &__made-by {
        display: inline-block;
        height: 2.25rem;
        &--author {
            margin-bottom: 2rem;
            font-size: 1.25rem;
        }
    }
}

.get-in-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    padding: 5rem 0 2.5rem 0;
    &__action {
        padding: 0;
        &--send-email {
            background-color: $white;
            border: .5px solid $blue;
            border-radius: .25rem;
            color: $blue;
            text-align: center;
            font-weight: 500;
            padding: .375rem .75rem;
            cursor: pointer;
            vertical-align: middle;
            &:hover {
                color: $white;
                background-color: $blue;
                a.fas {
                    color: $white;
                }
            }
        }
    }
}

// Queries
@include media-breakpoint-down(xs) {
    .get-in-contact {
        padding-bottom: 0;
        font-size: 14px;
        &__action {
            text-align: center;
        }
    }
    footer {
        font-size: 14px;
    }
}

@include media-breakpoint-down(sm) {
    section.about-me,
    section.skills,
    section.experiance,
    section.projects,
    section.contact {
        padding: 1rem 0;
    }
    .get-in-contact {
        &__action {
            text-align: center;
        }
    }
    .footer {
        &__content {
            display: flex;
            flex-direction: column;
            &__item:first-child,
            .footer__content__item:nth-child(2) {
                margin-bottom: 1rem;
            }
        }
        &__made-by {
            margin: auto;
        }
    }
}

@include media-breakpoint-down(md) {
    * h3 {
        font-size: xx-large;
    }
    .get-in-contact {
        padding: 2.5rem 0;
    }
}

html,
body,
#bubbles {
    height: 100%
}

#bubbles {
    padding: 0;
    height: 0;
    width: 0;
}

.bubble {
    width: 60px;
    height: 60px;
    background: $blue;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
}

.bubble1 {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.7;
    -webkit-animation: moveclouds 40s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

.bubble2 {
    left: 1050px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.3;
    -webkit-animation: moveclouds 55s linear infinite, sideWays 7s ease-in-out infinite alternate;
    -moz-animation: moveclouds 55s linear infinite;
    -o-animation: moveclouds 55s linear infinite;
}

.bubble3 {
    left: 400px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.bubble4 {
    left: 150px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.4;
    -webkit-animation: moveclouds 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 10s linear infinite;
    -o-animation: moveclouds 10s linear infinite;
}

.bubble5 {
    left: 600px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.6;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 11s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.bubble6 {
    left: 500px;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    opacity: .6;
    -webkit-animation: moveclouds 47s linear infinite, sideWays 17s ease-in-out infinite alternate;
    -moz-animation: moveclouds 47s linear infinite;
    -o-animation: moveclouds 47s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-o-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}