@import "abstracts/vars";
@import "vendors/bootstrap_scss/bootstrap";
@import "base/base";
@import "./pages/about-me";
@import "./pages/experiance";
@import "./pages/skills";
@import "./pages/projects";
@import "./pages/contact";
@import "./pages/menu";
// Components
@import "./components/card";
section.about-me,
section.skills,
section.experiance,
section.projects,
section.contact {
    padding: 3rem 0;
}

* h3 {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: -.8px;
    font-weight: 700;
}

footer {
    background-color: #f5f5f5;
    padding: 2.5rem 0;
}

.footer {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        &__item {
            text-align: center;
            &--header {
                font-size: 1rem;
                font-weight: 500;
                display: block;
                margin-bottom: .25rem;
            }
        }
    }
    &__made-by {
        display: inline-block;
        height: 2.25rem;
        &--author {
            margin-bottom: 2rem;
            font-size: 1.25rem;
            b {
                color: #4a7dff;
            }
        }
    }
}

.get-in-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    &__action {
        padding: 0;
        &--send-email {
            background-color: $white;
            border: .5px solid #007bff;
            border-radius: .25rem;
            color: #007bff;
            text-align: center;
            font-weight: 500;
            padding: .375rem .75rem;
            cursor: pointer;
            vertical-align: middle;
            &:hover {
                color: $white;
                background-color: #007bff;
                a.fas {
                    color: $white;
                }
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .footer {
        &__content {
            display: flex;
            flex-direction: column;
            &__item:first-child,
            .footer__content__item:nth-child(2) {
                margin-bottom: 1rem;
            }
        }
    }
    * h3 {
        font-size: xx-large;
    }
    .get-in-contact {
        padding-bottom: 0;
        font-size: 14px;
        &__action {
            text-align: center;
        }
    }
    footer {
        font-size: 14px;
    }
}