@import "abstracts/vars";
@import "vendors/bootstrap_scss/bootstrap";
@import "base/base";
@import "base/typography";

@import "./sections/menu";
@import "./sections/about-me";
@import "./sections/experience";
@import "./sections/skills";
@import "./sections/projects";
@import "./sections/footer";
@import "./sections/languages";

@import "./themes/dark-mode.scss";

@import "./components/card";
@import "./components/switch";
@import "./components/badge";
@import "./components/_alert.scss";
@import "./components/modal";
@import "./components/icon-button";
@import "./components/ui-button";
@import "./components/skip-a11y-button";


*:focus {
    outline: 4px solid lime;
  }

.opacity-0 {
    opacity: 0;
}

.no-skew-y {
    transform: skewY(12deg);
}

// cards carrouse
.carousel-item.active {
   background-color: transparent;
}

// carousel styles
.round-btn {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 100px;
    background-color: white;
    margin: 0;
}

.carousel-control-prev, .carousel-control-next {
    top: 10rem !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px !important;
    height: 20px !important;
    @include media-breakpoint-down(xs) { 
        width: 14px !important;
        height: 20px !important;
    }
}

.carousel-total-items {
    color: white;
    text-align: center;
}

.mobile-carousel-inner {
    height: 450px;
}

// main 

main#content {
    padding-top: 160px;
}