.about-me {
    background-color: $white;
    padding: 2rem 8rem;
    padding-bottom: 16rem;
    font-size: 1rem;

    @media only screen and (max-width: $media-breakpoint-down-md) {
        padding: 2rem 2rem 13rem 2rem;
    }

    @media only screen and (min-width: $media-breakpoint-down-xs) {
        font-size: .875rem;
    }
    
    &__content {
        text-align: center;
       
        &--paragraph {
            margin: 0;
            font-weight: 400;
            color: $dark-gray;
            line-height: 1.444;
        }
        
        &--skills {
            font-weight: 400;
            color: $dark-gray;
            margin: 1rem 0;
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
    
    &__availability {
        display: flex;
        align-items: center;
        &--available {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $aquamarine;
            margin-right: .5rem;
        }
    }
    
}