.about-me {
    background-color: $white;
    background-image: url(../assets/images/bg-dots.png);
    padding: 2rem 0;
    padding-bottom: 16rem;
    
    &__content {
        padding: 2rem 0 4rem 0;
        &--paragraph {
            margin: 0;
            font-weight: 400;
            color: $dark-gray;
            line-height: 1.444;
        }
        
        &--skills {
            font-weight: 400;
            color: $dark-gray;
            margin: 1rem 0;
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
    
    &__availability {
        display: flex;
        align-items: center;
        &--available {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $aquamarine;
            margin-right: .5rem;
        }
    }
    
}

// queries
@include media-breakpoint-down(xs) {
    .about-me {
        font-size: .875rem;
        .row {
            flex-direction: column-reverse;
        }
    }
}

