.experience {
    background-color: $white;
    padding: 4rem 0;
    &__time-line {
        margin-right: 2rem;
        @media only screen and (max-width: $media-breakpoint-down-sm) {
            display: none;
        }

        &--line {
            height: 9rem;
            margin-left: 1rem;
            border-left: 1px solid;
            color: $blue;
        }
        &--dot {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $blue;
            margin: 1rem 0 1rem 0;
        }
    }

    &__jobs-list {
        width: 100%;
    }

    .job {
        color: $dark-gray;
        margin-bottom: 3rem;
        font-size: 1rem;
        width: 100%;
        max-width: 50rem;
        @media only screen and (max-width: $media-breakpoint-down-sm) {
            font-size: .875rem;
        }

        &__header {
            display: flex;
            margin-bottom: 1rem;
        }

        &__logo {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            margin-right: .5rem;
        }

        &__position {
            margin: 0;
        }

        &__company-name {
            font-weight: 500;
            background-image: linear-gradient(to right, $blue, $purple);
            -webkit-background-clip: text;
            color: transparent;
        }

        &__job-details {
            display: flex;
        }

        &__body {
            .client {
                color: $dark-gray;

                &__header {
                    display: flex;
                    margin-bottom: 1rem;
                }

                &__logo {
                    width: 4rem;
                    height: 4rem;
                    object-fit: contain;
                    margin-right: .5rem;
                }

                &__client-name {
                    font-weight: 500;
                    background-image: linear-gradient(to right, $blue, $purple);
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }

        
    }

    &--blank-space {
        display: block;
        height: 268px;
        width: auto;
    }
    &__col-1 {
        width: 100%;
    }
    &__col-2 {
        width: 100%;
    }

    .xs {
        height: 6rem;
    }

    .sm {
        height: 10rem;

    }

    .md {
        height: 13rem;
    }

    .lg {
        height: 16rem;
    }

    .xl {
        height: 65rem; 
    }
}

// @media only screen and (min-width: $media-breakpoint-down-md) {
//     .experience {
//         &__job {
//             font-size: 14px;
//             padding: 0;
//             &__header {
//                 .employment-details {
//                     flex-direction: column;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width: $media-breakpoint-down-sm) {
//     .experience {
//         &__job {
//             &--icon {
//                 height: 3rem;
//                 width: 3rem;
//             }

//             &__body {

//                 .client {
    
//                     .tenure {
//                         margin: 0;
//                     }
//                 }
//             }
//         }       
//     }
// }