footer {
  background-color: $bond;
}

.footer {
  &__content {
      padding: 2.5rem 0;
      color: $cloudy;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      &__item {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        display: block;
        margin-bottom: .25rem;
      }

      &__icon {
        font-size: 2rem;
        background-image: linear-gradient(to right, $blue, $purple);
        -webkit-background-clip: text;
        color: transparent;
      }
  }  

  &__made-by {
      display: inline-block;
      height: 2.25rem;
      font-weight: bold;
      &--author {
          color: $cloudy;
          margin-bottom: 2rem;
          font-size: 1.25rem;
      }
  }

  &__media {
      border-top: 1px solid #ddd;
      padding: 1rem 0;
  }
}

// breakpoints
@include media-breakpoint-down(xs) {
  footer {
      font-size: 14px;
  }
  .footer {
      &__made-by {
          text-align: center;
      }
  }
}

@include media-breakpoint-down(sm) {

  .footer {
      &__content {
          display: flex;
          flex-direction: column;
          &__item:first-child,
          .footer__content__item:nth-child(2) {
              margin-bottom: 1rem;
          }
      }
      &__made-by {
          margin: auto;
      }
  }
}