.menu {
    width: 100%;
    background: white;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.078);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
        padding: 1rem;
    }

    &--sticky {
        position: fixed;
        z-index: 1;
    }
    
    &__banner {
        height: 6rem;
        width: 100%;
        background-color: $purple;
    }
    &__picture {
        @include media-breakpoint-down(xs) {
            width: 3.5rem;
            height: 3.5rem;
        }

        width: 5rem;
        height: 5rem;
        background-color: $gray-400;
        color: $white;
        font-weight: 400;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2)
    }
}
