.skills {
  padding-top: 19rem;
  padding-bottom: 7rem;
  background-color: whitesmoke;

  &__list {
    &__wrapper {
      overflow: hidden;
      position: relative;
      width: 100%;
      padding: 10px 0;
    }
  }

  &__technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: calc(100% * 2); /* Allow seamless looping */
    animation: scroll 60s linear infinite;
    padding: 0;
    list-style: none;
    margin: 2rem auto;
    @media only screen and (max-width: $media-breakpoint-down-xs) {
        animation: scroll 20s linear infinite;
    }
    &--tool {
      img {
        flex-shrink: 0;
        width: 5rem;
        object-fit: cover;
        margin: 2rem;
        @media only screen and (max-width: $media-breakpoint-down-xs) {
          margin: .85rem;
          width: 4rem;
        }
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0); /* Start position */
  }
  to {
    transform: translateX(-100%); /* Scroll left */
  }
}
