.skills {
    padding-top: 19rem;
    padding-bottom: 7rem;
    background-color: whitesmoke;

    &__technologies {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 1rem auto;
        list-style: none;
        &--tool {
            img {
                width: 6rem;
                object-fit: cover;
                margin: 1rem;
            }
        }
    }
    
    &__list {
        &__wrapper {
            display: flex;
            @include media-breakpoint-down(xs) { 
                flex-direction: column;
            }
        }
    }
}
