.gallery--gallery-bg {
  height: 100%;
  width: 100%;
  background-color: #000000c0;
  position: absolute;
  top: 0;
  z-index: 1; }

.gallery--close {
  font-size: 2rem;
  display: flex;
  flex-direction: row-reverse; }
