.black-screen {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67); }

.sidebar {
  height: 100%;
  width: 48px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidebar a:hover {
  color: #f1f1f1; }

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none; }

#main {
  transition: margin-left .5s;
  padding: 16px; }

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px; }
  .sidebar a {
    font-size: 18px; } }

body {
  background-color: #00000014; }

.gallery--gallery-bg {
  height: 100%;
  width: 100%;
  background-color: #000000c0;
  position: fixed;
  top: 0;
  z-index: 1; }

.gallery--close {
  font-size: 2rem;
  display: flex;
  flex-direction: row-reverse; }

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171; }

/* Add an italic font style to all quotes */
q {
  font-style: italic; }

/* Add a blue color to the author */
.author {
  color: cornflowerblue; }
