.about-me {
    display: flex;
    background-color: $white;
    &__biographi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        &--title {
            font-weight: 700;
            font-size: 2rem;
        }
        &--paragraph {
            text-align: left;
            margin: 0;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.57);
            b {
                color: $blue;
            }
        }
        &--link-to {
            font-weight: 500;
            color: $blue;
        }
        &--skills {
            margin: 1rem 0;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.57);
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
    &__profile-photo {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
        &--radius {
            border-radius: 50%;
            height: 300px;
            width: 300px;
            transform: rotate(275deg);
            object-fit: cover;
            border: 5px solid $white;
        }
    }
}

// queries
@include media-breakpoint-down(xs) {
    .about-me {
        .row {
            flex-direction: column-reverse;
        }
    }
    .about-me__biographi {
        text-align: center;
        &--paragraph {
            text-align: center;
        }
    }
    .about-me__profile-photo--radius {
        height: 200px;
        width: 200px;
    }
}

@include media-breakpoint-down(sm) {
    .about-me__profile-photo--radius {
        height: 250px;
        width: 250px;
    }
}