.about-me {
    display: flex;
    // background-color: $white;
    &__biographi {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
        &--title {
            font-weight: 700;
        }
        &--paragraph {
            text-align: left;
        }
        &--link-to {
            font-weight: 500;
        }
    }
    &__profile-photo {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        &--radius {
            border-radius: 50%;
            height: 300px;
            width: 300px;
        }
    }
}