.about-me {
    display: flex;
    background-color: $white;
    &__biographi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        &--title {
            font-weight: 700;
            font-size: 2rem;
        }
        &--paragraph {
            text-align: left;
            margin: 0;
            font-weight: 400;
            color: $dark-gray;
        }
        &--link-to {
            font-weight: 500;
            color: $blue;
        }
        &--skills {
            margin: 1rem 0;
            font-weight: 400;
            color: $dark-gray;
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
    &__profile-photo {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        &--radius {
            border-radius: 50%;
            height: 350px;
            width: 350px;
            object-fit: cover;
            border: 5px solid $blue;
            z-index: 5;
        }
    }
    &__availability {
        display: flex;
        align-items: center;
        &--available {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $aquamarine;
            margin-right: .5rem;
        }
    }
    &__copy-to-clipboard {
        display: flex;
        &__gmail {
            color: $dark-gray;
            border-color: transparent;
            outline: none;
            &--copy {
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                border-radius: 50%;
                padding: .5rem .65rem;
                margin-left: .5rem;
                cursor: pointer !important;
                i {
                    margin: auto;
                }
                &:hover {
                    background-color: rgba($black, $soft-opacity);
                    border-radius: 50%;
                    color: $dark-gray;
                }
            }
        }
    }
    
}

// queries
@include media-breakpoint-down(xs) {
    .about-me {
        font-size: 14px;
        .row {
            flex-direction: column-reverse;
        }
        &__biographi {
            text-align: center;
            &--paragraph {
                text-align: center;
            }
        }
        &__profile-photo {
            margin-bottom: 2.5rem;
            &--radius {
                height: 200px;
                width: 200px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .about-me {
        .row {
            flex-direction: column-reverse;
        }
        &__biographi {
            align-items: center;
            text-align: center;
            &--paragraph {
                text-align: center;
            }
        }
        &__profile-photo {
            margin-bottom: 2.5rem;
            &--radius {
                height: 250px;
                width: 250px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .about-me {
        &__profile-photo {
            &--radius {
                height: 250px;
                width: 250px;
            }
        }
    }
}