.about-me {
    display: flex;
    background-color: $white;
    &__biographi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        &--title {
            font-weight: 700;
            font-size: 2rem;
        }
        &--paragraph {
            text-align: left;
            margin: 0;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.57);
            b {
                color: $blue;
            }
        }
        &--link-to {
            font-weight: 500;
            color: $blue;
        }
        &--skills {
            margin: 2rem 0;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.57);
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
    &__profile-photo {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        &--radius {
            border-radius: 50%;
            height: 300px;
            width: 300px;
            transform: rotate(275deg);
            object-fit: cover;
            z-index: 4;
            border: 5px solid $white;
        }
    }
    &--figure2 {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: $blue;
        position: relative;
        right: 50px;
    }
}

.fast-contact {
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}