.contact {
    // background-color: $white;
    &__message {
        display: flex;
        // padding: 2rem 0;
        &--header {
            text-align: center;
            padding-bottom: 4rem;
        }
    }
}