.experiance {
    background-color: $white;
    h3 {
        margin-left: 4rem;
    }
    &__time-line {
        &--line {
            width: 100%;
            height: 14rem;
            border-left: 1px solid;
            margin-left: 50%;
            color: $blue;
            &:nth-child(2) {
                height: 8rem;
            }
        }
        &--dot {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $blue;
            margin: 1rem 0 1rem 48%;
        }
        &--arrow-up {
            width: .65rem;
            height: .5rem;
            margin-left: 47%;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $blue;
            position: relative;
        }
    }
    &__job {
        margin-bottom: 1rem;
        display: flex;
        &__header {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            font-size: 1rem;
            &--title {
                font-weight: 500;
                font-size: 1rem;
                display: block;
            }
            &--company {
                display: block;
            }
            &--year {
                display: block;
            }
        }
        &--description {
            text-align: justify;
            margin-top: 1rem;
            ul {
                margin: 0;
                padding-left: .95rem;
            }
        }
        &--icon {
            height: 4.5rem;
            width: 4.5rem;
            object-fit: cover;
        }
    }
    &--blank-space {
        display: block;
        height: 268px;
        width: 448px;
    }
}