.experience {
    background-color: $white;
    &__time-line {
        margin-right: 2rem;
        &--line {
            height: 9rem;
            margin-left: 1rem;
            border-left: 1px solid;
            color: $blue;
        }
        &--dot {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $blue;
            margin: 1rem 0 1rem 0;
        }
    }
    &__job {
        display: flex;
        padding: 1rem;
        &__header {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            &--title {
                font-size: 1.25rem;
                display: block;
                font-weight: 500;
            }
            &--company {
                display: block;
                width: fit-content;
            }
            &--year {
                display: block;
            }
        }
        &__body {
            margin-left: 1rem;
        }
        &--description {
            text-align: justify;
            ul {
                margin: 0;
                padding-left: .95rem;
                li {
                    line-height: 1.3;
                    letter-spacing: normal;
                    margin: .35rem 0;
                    text-align: initial;
                }
            }
        }
        &--icon {
            height: 4rem;
            width: 4rem;
            object-fit: cover;
        }
    }
    &--blank-space {
        display: block;
        height: 268px;
        width: auto;
    }
    &__col-1 {
        width: 100%;
    }
    &__col-2 {
        width: 100%;
    }
    .first {
        height: 7rem;
    }
    .second {
        height: 16rem;
    }

    .third {
        height: 13rem;
    }

    .fourth {
        height: 11rem;
    }
    .sixth {
        height: 10rem;
    }
}

@include media-breakpoint-down(md) {
    .experience {
        &__job {
            font-size: 14px;
        }
        .fourth,
        .fifth {
            height: 11rem;
        }
        .sixth {
            height: 10rem;
        }
    }
    
}

@include media-breakpoint-down(sm) {
    .experience {
        &__job {
            font-size: 10px;
            &--icon {
                height: 3rem;
                width: 3rem;
            }
        }
        .first,
        .third {
            height: 7rem;
        }
        .second {
            height: 9rem;
        }
        .fifth {
            height: 7rem;
        }
        .sixth {
            height: 6rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .experience__time-line {
        display: none;
    }
}