.experiance {
    background-color: $white;
    &__jobs-list {
        display: flex;
    }
    &__time-line {
        &--line {
            width: 100%;
            height: 14rem;
            border-left: 1px solid;
            margin-left: 50%;
            color: $blue;
            &:nth-child(2) {
                height: 8rem;
            }
        }
        &--dot {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $blue;
            margin: 1rem 0 1rem 0;
        }
    }
    &__job {
        margin-bottom: 1rem;
        display: flex;
        &__header {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            // font-size: 1rem;
            &--title {
                font-size: 1.25rem;
                display: block;
                font-weight: 500;
            }
            &--company {
                display: block;
            }
            &--year {
                display: block;
            }
        }
        &__body {
            margin-left: 1rem;
        }
        &--description {
            text-align: justify;
            margin-top: 1rem;
            ul {
                margin: 0;
                padding-left: .95rem;
                li {
                    line-height: 1.3;
                    letter-spacing: normal;
                    margin: .35rem 0;
                    text-align: initial;
                }
            }
        }
        &--icon {
            height: 4rem;
            width: 4rem;
            object-fit: cover;
        }
    }
    &--blank-space {
        display: block;
        height: 268px;
        width: auto;
    }
}

// queries
@media (max-width: 767px) and (min-width: 425px) {
    .experiance {
        &__time-line {
            display: none;
        }
        &__job {
            margin: 2rem 0;
            font-size: 14px;
        }
        &__jobs-list {
            display: flex;
            flex-direction: column;
        }
        &--blank-space {
            display: none;
        }
    }
}