.experiance {
    background-color: $white;
    h3 {
        margin-left: 4rem;
    }
    &__time-line {
        &--line {
            width: 100%;
            height: 14rem;
            border-left: 1px solid;
            margin-left: 50%;
        }
        &--dot {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: black;
            margin: 1rem 0 1rem 48%;
        }
    }
    &__job {
        margin-bottom: 1rem;
        display: flex;
        &__header {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            font-size: 1rem;
            &--title {
                font-weight: 500;
                font-size: 1rem;
                display: block;
            }
            &--company {
                display: block;
            }
            &--year {
                display: block;
            }
        }
        &--description {
            text-align: justify;
        }
        &--icon {
            height: 4.5rem;
            width: 4.5rem;
        }
    }
    &--blank-space {
        display: block;
        height: 268px;
        width: 448px;
    }
}