.intro-biographi {
    display: flex;
    background-color: $white;

    &__photo {
        &--radius {
            border-radius: 50%;
            height: 300px;
            width: 300px;
        }
    }

    &__social-links{
        display: flex;
        justify-content: center;
        button{
            margin: 0 1rem;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: $purple;
            color: $white;
        }
    }

    .text-justify {
        text-align: justify;
    }
  
}