.menu {
    display: flex;
    background-color: $white;
    padding: 1rem 2rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    &__mini-profile {
        display: flex;
    }
    &__banner {
        height: 6rem;
        width: 100%;
        background-color: $purple;
    }
    &__logo {
        width: 3rem;
        height: 3rem;
        background-color: $warm-yellow;
        color: $white;
        font-weight: 400;
        font-size: 2.5rem;
        border-radius: 50%;
        border: 1px solid $warm-yellow;
        text-align: center;
    }
    &__headline {
        display: flex;
        flex-direction: column;
        margin: auto 1rem;
        color: $dark-gray;
        &--name {
            display: block;
            font-weight: 700;
        }
        &--position {
            display: block;
        }
    }

    &__social-links {
        margin-left: auto;
        white-space: nowrap;
        &--link {
            color: $dark-gray;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 10;
}

@include media-breakpoint-down(xs) {
    .sticky {
        font-size: 14px;
    }
    
}