.menu {
    background-color: $white;
    padding: 1rem 2rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    &__mini-profile {
        display: flex;
    }
    &__banner {
        height: 6rem;
        width: 100%;
        background-color: $purple;
    }
    &__logo {
        width: 3rem;
        height: 3rem;
        background-color: $warm-yellow;
        color: $white;
        font-weight: 400;
        font-size: 2.5rem;
        border-radius: 50%;
        border: 1px solid $warm-yellow;
        text-align: center;
    }
    &__headline {
        display: flex;
        flex-direction: column;
        margin: auto 1rem;
        color: $dark-gray;

        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        align-self: center;
        &--name {
            display: block;
            font-weight: 700;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &--position {
            display: block;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__social-links {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &--link {
            color: $dark-gray;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            &:hover {
                background-color: rgba($black, $soft-opacity);
                border-radius: 50%;
                color: $dark-gray;
            }
            i {
                margin: auto;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 10;
    transition: .3s;
}

@include media-breakpoint-down(xs) {
    .sticky {
        font-size: 14px;
    }

    .menu {
        padding: 1rem;
        &__headline {
            margin: auto .25rem;
        }
        &__logo {
            display: none;
        }
    }
    
}