.menu {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: .5rem 2.5rem;
    -webkit-box-shadow: -4px 14px 40px -38px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 14px 40px -38px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 14px 40px -38px rgba(0, 0, 0, 0.75);
    &__banner {
        height: 6rem;
        width: 100%;
        background-color: $purple;
    }
    &__logo {
        width: 4rem;
        height: 4rem;
        background-color: $warm-yellow;
        color: white;
        font-weight: 400;
        font-size: 2.5rem;
        border-radius: 50%;
        border: 1px solid $warm-yellow;
        text-align: center;
    }
    &__headline {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        &--name {
            display: block;
            font-weight: 700;
        }
        &--position {
            display: block;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 1;
}