.projects {
    background-color: $white;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__next>button,
    &__prev>button {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border-color: transparent;
        color: #484848;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
        outline: none;
        cursor: pointer;
        position: relative;
    }
    &__handlers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        bottom: 240px;
    }
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: $black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

// queries 
@include media-breakpoint-down(md) {
    .projects__carrousel &.slideshow-container &.a-card {
        width: 20rem;
        transform: none;
    }
}

@include media-breakpoint-down(sm) {
    .projects__carrousel &.slideshow-container &.a-card {
        width: auto;
        transform: none;
    }
}