.skills {
    &__technologies {
        display: flex;
        justify-content: space-evenly;
        margin: 4rem 0 0 0;
        &--tool>img {
            width: 10rem;
            object-fit: cover;
        }
    }
}