.skills {
    background-color: whitesmoke;
    &__technologies {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        &--tool {
            img {
                width: 5rem;
                object-fit: cover;
                margin: 1rem;
            }
        }
    }
    &__list {
        &__wrapper {
            display: flex;
        }
    }
}

@include media-breakpoint-down(xs) { 
    .skills__list__wrapper {
        flex-direction: column;
    }
}
