.badge {
  height: 1.45rem;
  background-color: rgba($black, $light-opacity);
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration: inherit;
  text-transform: inherit;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  padding: 1rem;
  margin: .5rem 0.25rem;
  transition: background-color .2s, box-shadow .2s;
  text-align: center;
  font-weight: 500;

  &--xs {
    font-size: .65rem;
    padding: .15rem .25rem;
  }

}

@media only screen and (min-width: $media-breakpoint-down-sm) {
  .badge {
    height: 1.25rem;
    font-size: .875rem;
  }
}
