.a-card {
    width: 16rem;
    height: 26rem;
    background-color: $white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    &__header {
        &--graphic {
            width: 14rem;
            height: 10rem;
        }
    }
    &__body {
        &--title {
            font-size: 1rem;
            padding: .5rem 0;
        }
        &--condensed-title {
            font-size: 1rem;
            padding: .5rem 0;
        }
        &--paragraph {
            height: 8rem;
            text-align: left;
            font-weight: 700;
            margin: .5rem 0 1rem;
            font-size: 1.5rem;
            line-height: 1.8rem;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &--link-to {
            display: flex;
            justify-content: space-between;
            a {
                display: block;
                flex-direction: column;
                font-weight: 500;
                color: #1264a3;
            }
        }
    }
}