.a-card {
    width: 15rem;
    background-color: $white;
    transition: transform .3s;
    margin: 0 1rem 2rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    z-index: 1;
    &:hover {
        transform: scale(1.05) translateY(-.25rem);
    }

    &--wrapper {
        cursor: pointer;
    }
    
    &__header {
        &--graphic {
            width: 100%;
            height: 10rem;
            object-fit: fill;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    &__body {
        display: flex;
        height: auto;
        padding: .75rem;
        overflow: hidden;
        color: $dark-gray;
        flex-wrap: wrap;
        font-weight: 500;

        &--title {
            width: 100%;
            font-size: 1.3rem;
            align-self: flex-start;
            color: $night;
            margin: .45rem 0;
            line-height: 1.222;

            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: block;
            }
            .technologies-used {
                font-size: .75rem;
            }
        }
        &--paragraph {
            margin: 0;
            font-size: .875rem;
            font-weight: 400;
            text-align: left;
            line-height: 1.222;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            color: $cloudy;
            @media (max-width: 768px) {
                font-size: .75rem;
                font-weight: 400;
                line-height: 1.222;
                -webkit-box-orient: unset;  
            }
        }
        
    }
    &__actions {
        width: 100%;
        display: none; // temporarily disable
        align-self: flex-end;
        justify-content: space-around;
        flex-basis: 100%;
        padding: .4rem .75rem;

        .btn.btn--primary.btn-sm {
            margin-right: .25rem;
            @media (max-width: 638px) {
                margin: 0 0 .5rem 0;
            }
        }

        @media (max-width: 638px) {
            flex-direction: column;
        }
    }
}