.a-card {
    width: 14.5rem;
    height: fit-content;
    background-color: $white;
    box-shadow: 0 2.5rem 3rem rgba(black, .15);
    transition: transform .3s;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    z-index: 1;
    &:hover {
        transform: scale(1.05) translateY(-.25rem);
        box-shadow: 0 2.5rem 3rem rgba(black, .2);
    }
    &--wrapper {
        cursor: pointer;
    }
    
    &__header {
        &--graphic {
            width: 100%;
            height: 10rem;
            object-fit: fill;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
        }
    }

    &__body {
        height: auto;
        padding: .75rem;
        overflow: hidden;
        color: $dark-gray;
        flex-wrap: wrap;
        font-weight: 500;

        &--title {
            height: 4rem;
            width: 100%;
            font-size: 1rem;
            padding: .5rem 0;
            align-self: flex-start;
            color: $night;
            span {
                display: block;
            }
            .technologies-used {
                font-size: .75rem;
            }
        }
        &--paragraph {
            margin: 0;
            font-size: .875rem;
            font-weight: normal;
            text-align: left;
            line-height: 1.222;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            color: $cloudy;
        }
        
    }
    &__actions {
        width: 100%;
        // display: flex;
        display: none; // temporarily disable
        align-self: flex-end;
        justify-content: space-around;
        flex-basis: 100%;
        padding: .4rem .75rem;

        .btn.btn--primary.btn-sm {
            margin-right: .25rem;
        }
    }
}


@media (max-width: 638px) {
    .a-card {
        width: 12rem;
        &__actions {
            flex-direction: column;
            .btn.btn--primary.btn-sm {
                margin: 0 0 .5rem 0;
            }
        }
    }
    .a-card.mySlides {
        width: 15.65rem;
        margin: 0 auto;
        .a-card__body {
            .a-card__actions {
                flex-direction: row !important;
                align-items: center;
                .btn.btn--primary.btn-sm {
                    margin-right: .25rem;
                    margin-bottom: 0;
                }
            }
        }
    }
 }