.a-card {
    width: 18rem;
    height: 26rem;
    background-color: $white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    transition: transform .2s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    z-index: 1;
    &:hover {
        transform: scale(1.2);
    }
    &__header {
        &--graphic {
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        color: $dark-gray;
        &--title {
            font-size: 1rem;
            padding: .5rem 0;
            span {
                display: block;
                font-weight: 700;
            }
            .technologies-used {
                font-size: .75rem;
            }
        }
        &--paragraph {
            text-align: left;
            margin: .5rem 0 1rem;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &--link-to {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            color: $blue;
            cursor: pointer;
            a:nth-child(2) {
                font-size: 1.5rem;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .a-card {
        width: 16rem;
    }
}