.a-card {
    width: 15rem;
    background-color: $white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    transition: transform .2s;
    padding: .75rem;
    margin: 0px 7.5px 1rem 7.5px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    z-index: 1;
    
    &--wrapper {
        cursor: pointer;
    }
    
    &__header {
        &--graphic {
            width: 100%;
            height: 8.5rem;
            object-fit: cover;
        }
    }

    &__body {
        height: auto;
        overflow: hidden;
        color: $dark-gray;
        flex-wrap: wrap;
        font-weight: 500;

        &--title {
            height: 4rem;
            width: 100%;
            font-size: 1rem;
            padding: .5rem 0;
            align-self: flex-start;
            span {
                display: block;
            }
            .technologies-used {
                font-size: .75rem;
                color: gray;
            }
        }
        &--paragraph {
            font-size: .875rem;
            font-weight: normal;
            // margin: .5rem 0;
            text-align: left;
            line-height: 1.222;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        
    }
    &__actions {
        display: flex;
        align-self: flex-end;
        flex-basis: 100%;
        justify-content: center;

        .btn.btn--primary.btn-sm {
            margin-right: .25rem;
        }
    }
}


@media (max-width: 638px) {
    .a-card {
        width: 12rem;
        &__actions {
            flex-direction: column;
            .btn.btn--primary.btn-sm {
                margin: 0 0 .5rem 0;
            }
        }
    }
    .a-card.mySlides {
        width: 15.65rem;
        margin: 0 auto;
        .a-card__body {
            .a-card__actions {
                flex-direction: row !important;
                align-items: center;
                .btn.btn--primary.btn-sm {
                    margin-right: .25rem;
                    margin-bottom: 0;
                }
            }
        }
    }
 }