.icon-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
        color: $cloudy;
        height: 3.65rem;
        width: 3.65rem;
        display: flex;
        align-items: center;
        border-radius: 50%;
        transition: all .2s;

        &:hover {
            background-color: rgba($black, $soft-opacity);
            color: $dark-gray;
        }

        i {
            margin: auto;
        }

    }

    

}