.modal {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__close-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  &__body {
    padding: 1rem;
  }

  &__title {
    margin: 1rem 0;
  }

  &__summary {
    color: $dark-gray;
    margin: 0;
  }

  &__footer {
    padding: 1rem;
    border-top: none;
    text-align: end;

    #demo-btn{
      color: white;
      background-color: #4a7dff;
    }

    #source-code-btn {
      background: #4a7dff33;
    color: #4a7dff;
    font-weight: 500;
    margin-right: .5rem;
    }
  }
}