.switch-btn {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;

  /*switch*/
  &__switch {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2rem;
    height: .887rem;
    border-radius: .5rem;
    background-color: rgba($black,$medium-opacity);
    position: relative;
  }

  &__text {
    color: $cloudy;
  }

  &__dot-container{
    left: -1rem;
    right: auto;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -1rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transition: left .1s;

    &:hover{
      border-radius: 50%;
      background-color: rgba($black, $soft-opacity);
    }

  }

  &__dot{
    @include shadow(2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  input[type="checkbox"]:checked ~ &__switch &__dot-container{
    left: 0;
  }

  input[type="checkbox"]:checked ~ &__switch &__dot-container &__dot{
    background-color: $blue;
  }

  input[type="checkbox"]:checked ~ &__switch{
    background-color: rgba($blue,$medium-opacity);
  }

  input[type="checkbox"]:checked ~  &__switch  &__dot-container:before {
    color: $white;
    opacity: 1;
  }
}
