.ui-btn {
  display: inline-block;
  width: auto;
  padding: .75rem 1.75rem;
  border-radius: 100px;
  text-decoration: none;
  font-size: .75rem;
  transition: all .2s;
  position: relative;
  text-transform: uppercase;
  color: white;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(black,0.2);
    color: white;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(black,0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--purple {
    background-image: linear-gradient(to right bottom, $blue, $purple);
    &::after {
      background-color: $blue;
    }
  }
  
  &--animated {
    animation: moveInBotton .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

}


.ui-text-button {
  text-transform: capitalize;
  font-weight: 500;
  font-size: .875rem;
  color: white;
  display: block;
  padding: .25rem .75rem;
  border-radius: 50px;
  transition: all .2s;
  background-color: black;

  &:active {
    background: rgba($purple, .2);
  }

  &--blue-purple {
    background-image: linear-gradient(to right bottom, #4a7dff, #713BA7);
    box-shadow: none;
  }

  &--outlined {
    background-color: white;
    color: black;
    border: 1px solid;
  }
}

