.dark-mode {
  body {
    color: white;
    background-color: $black-medium;
  }

  h3 {
    color: white !important;
  }

  .menu {
    color: white !important;
    &__headline { color: white; }
  }


  .about-me {
    background-color: $black-lighter;
    background-image: none;
    p { color: white; }
  }

  .switch-btn {
    &__text {
      color: white;
    }
    
    &__dot-container {
      &:hover{
        border-radius: 50%;
        background-color: rgba($blue, $soft-regular-opacity);
      }
    }
  }

  .projects {
    background-color: $black-medium;
    background-image: none;
    color: white;
    .a-card {
      background-color: $black-lighter;

      &__body {
        &--title {
          color: white;
      }

      &--paragraph {
        color: white;
        
      }

      .technologies-used{ 
        color: $light-purple;
      }

    }
  }

  &__carrousel {
    .dots {
      .dot {
        background-color: #3e3d3d;
      }
      .dot.active {
        background-color: $blue;
      }
    }
  }
}

  .skills {
    color: white;
    background-color: $black-lighter;
  }

  .experience {
    color: white;
    background-color: $black-medium;
    &__job {
      &__header {
        &--location, &--company a, &--company i{
          color: $clear-aqua;
        }
      }
    }
    &__job:hover {
      background-color: $black-lighter;
    }
  }

  footer {
    background-color: $black-lighter;
    color: white;
    .footer {
      &__content {
        color: white;
      }

      &__made-by--author{
        color:white;
      }

      &__media {
        border-top: 1px solid $black-medium;
      }
    
      i {
        color: $light-purple;
      }
    }
    
  }

  .badge {
    background-color: #313133;
    color: $white;
    &:hover {
      background-color: $black-medium;
      color: $white;
    }
  }

  .btn--primary, .btn--secondary {
    background: rgb(49, 49, 51) !important;
    border-radius: 50px !important;
    i.fas {
      color: $clear-aqua !important;
    }
  }
  .modal--content {
    background-color: $black-lighter;
    color: white;
  }

  .modal--heading {
    display: block;
    font-size: .875rem;
    font-weight: 600;
    color: #58595f;
  }

  .modal-backdrop {
    background-color: rgba(black, 0.8);
  }

  #modal__details, .close {
    color: white;
  }

  .list-group--flush {
    .list-group__item {
      background: #111111;
      border-right: 0;
      border-left: 0;
      @include border-radius(0);
      border-color: rgba(255, 255, 255, 0.125);
      div b {
        color: $green !important;
      }
    }
  
    &:first-child {
      .list-group__item:first-child {
        border-top: 0;
      }
    }
  
    &:last-child {
      .list-group__item:last-child {
        border-bottom: 0;
      }
    }
  }

  .icon-button-group {
    &__link {
      color: $light-purple;
      &:hover {
        background-color: rgba($light-purple, $medium-opacity);
        color: $light-purple;
      }
    }
    
  }

}


