.dark-mode {
  color: white;
  background-color: #121212;

  .menu {
    background-color: #1b1b1b;
    color: white;

    &__headline {
      color: white;
    }

    &__social-links {
      &--link {
          color: #c394fc;
          &:hover {
            background-color: rgba(195, 148, 252, 0.2);
            border-radius: 50%;
        }
      }
    }

    .navbar {
      .navbar-links {
        color: #c394fc;
      }
    }
  }

  .get-in-contact {
    background-color: #121212;
    color: white;
    
  }

  .about-me {
    background-color: #121212;
    color: white;
    &__availability {
      &--available {
        background-color: #1cfd39;
      }
    }
    p {
      color: white;
    }
  
    ul {
      li {
        color: white;
      }
    }

    input, textarea {
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      border-color: transparent;
    }

    &__copy-to-clipboard {
      &__gmail {
          &--copy {
            color: $blue;
            transition: .3s;
              &:hover {
                  background-color: rgba(74, 125, 255, 0.12);
                  border-radius: 50%;
                  color: $blue;
              }
          }
      }
  }

  }

  .switch-btn {
    &__dot-container {
      &:hover{
        border-radius: 50%;
        background-color: rgba($blue, $soft-regular-opacity);
      }
    }
  }

  .projects {
    background-color: #121212;
    color: white;
    .a-card {
      background-color: #1b1b1b;

      &__body {
        &--title {
          color: white;
      }

      &--paragraph {
        color: white;
        
      }

      .technologies-used{ 
        color: #c394fc;
      }

    }
  }

  &__carrousel {
    .dots {
      .dot {
        background-color: #3e3d3d;
      }
      .dot.active {
        background-color: $blue;
      }
    }
  }
}

  .skills {
    color: white;
    background-color: #1b1b1b;
  }

  .experience {
    color: white;
    background-color: #121212;
    &__job {
      &__header {
        &--location, &--company a, &--company i{
          color: $clear-aqua;
        }
      }
    }
    &__job:hover {
      background-color: #1b1b1b;
    }
  }

  footer {
    background-color: #1b1b1b;
    color: white;
    i {
      color: #c394fc;
    }
  }

  .badge {
    background-color: #313133;
    color: $white;
    &:hover {
      background-color: #121212;
      color: $white;
    }
  }

  .btn--primary, .btn--secondary {
    background: rgb(49, 49, 51) !important;
    border-radius: 50px !important;
    i.fas {
      color: #80a4ff !important;
    }
  }

}
