.dark-mode {
  color: white;
  background-color: #121212;

  .menu {
    background-color: #1b1b1b;
    color: white;

    &__headline {
      color: white;
    }

    &__social-links {
      &--link {
          color: #c394fc;
      }
    }
    
    .navbar {
      .navbar-links {
        color: #c394fc;
      }
    }
  }

  .get-in-contact {
    background-color: #121212;
    color: white;
    
  }

  .about-me {
    background-color: #121212;
    color: white;
    &__availability {
      &--available {
        background-color: #1cfd39;
      }
    }
    p {
      color: white;
    }
  
    ul {
      li {
        color: white;
      }
    }

    input, textarea {
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      border: solid transparent;
    }

  }

  .switch-btn {
    &__dot-container {
      &:hover{
        border-radius: 50%;
        background-color: rgba($blue, $soft-regular-opacity);
      }
    }
  }

  .projects {
    background-color: #121212;
    color: white;
    .a-card {
      background-color: #1b1b1b;

      &__body {
        &--title {
          color: white;
      }

      &--paragraph {
        color: white;
        
      }
    }
  }
}

  .skills {
    color: white;
    background-color: #121212;
  }

  .experience {
    color: white;
    background-color: #121212;
  }

  footer {
    background-color: #1b1b1b;
    color: white;
    i {
      color: #c394fc;
    }
  }

}

// linear-gradient(to right, rgba(124, 74, 150, 0.93), rgb(0, 255, 255))
// linear-gradient(to right, rgb(154, 90, 187), rgb(74, 125, 255)) azul