.heading-primary {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .65rem;
  font-weight: bolder;
  background-image: linear-gradient(to right, $blue, $purple);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;

  @media only screen and (min-width: $media-breakpoint-down-md) {
    line-height: 1.222;
    font-size: 1.5rem;
    margin: .75rem 0;
  }

  &--sm {
    font-size: 1.25rem;
    letter-spacing: .5rem;
    @media only screen and (min-width: $media-breakpoint-down-md) {
      font-size: 1.15rem;
        display: block;
        line-height: 1.222;
    }
  }

}

.heading-secondary {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: $cloudy;
  margin-bottom: 2rem;
  @media only screen and (min-width: $media-breakpoint-down-md) {
    font-size: 1.5rem;
    letter-spacing: .75rem;
  }
}

.heading-third {
  color: $cloudy;
  margin: 0;
  font-size: 2.5rem;
  @media only screen and (min-width: $media-breakpoint-down-md) {
    font-size: 2.75rem;
  }

  @media only screen and (min-width: $media-breakpoint-down-sm) {
    font-size: 2.5rem;
  }
}

* a {
  cursor: pointer;
}

* b {
  color: $blue;
}

.bold-heading {
  color: #5864ff;
  font-size: .875rem;
  font-weight: bold;
}