.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bolder;
  background-image: linear-gradient(to right, $blue, $purple);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;

  &--sm {
    font-size: 1.25rem;
    letter-spacing: .5rem;
  }
}

.heading-secondary {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: $cloudy;
}

.heading-third {
  color: $cloudy;
}

* a {
  cursor: pointer;
}

* b {
  color: $blue;
}

*:focus {
  outline: none;
}
@include media-breakpoint-down(md) { 
  .heading-primary {
    line-height: 1.222;
    font-size: 1.5rem;
    &--sm {
      font-size: 1.15rem;
      display: block;
      line-height: 1.222;
    }
  }
} 


@include media-breakpoint-down(sm) { 
  .heading-secondary {
    font-size: 1rem;
  }

  .heading-third {
    font-size: 2rem;
  }
}
